html, body {
    width: 100%;
    min-height: 100%;
    z-index: 999;
}

.container {
    width: 100%;
    min-height: 100%;
    margin-bottom: 50%;
}

.box {
    margin-top: 5%;
    margin-left: 5%;
}

.scale-element {
    height: 100px;
    width: 100px;
    background: aqua;
}

.scale-element:hover {
    transform: scale(2);
}

.scale-element-height {
    height: 100px;
    width: 100px;
    background: green;
}

.scale-element-height:hover {
    height: 200px;
    width: 200px;
    transform: translate(-50px, -50px);
}

.scale-element-with-transition {
    height: 100px;
    width: 100px;
    background: red;
    transition: all 2s;
    transition-delay: 1s;
}

.scale-element-with-transition:hover {
    transform: scale(2);
    background: blue;
}

.max-box {
     max-width: 100px !important;
     max-height: 100px !important;
     height: 100px;
     width: 100px;
     overflow: hidden;
 }

.rotate-element {
    width: 100%;
    height: 200%;
    background-color: blueviolet;
    transform: rotate(45deg);
}

.keyframe-element {
    width: 100px;
    height: 100px;
    background-color: cyan;
    animation-name: animatie1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animatie1 {
    from {
        width: 100px;
        height: 100px;
    }
    to {
        width: 200px;
        height: 250px;
        background-color: indianred;
    }
}

.keyframe-element-2 {
    width: 100px;
    height: 100px;
    background-color: slateblue;
}

.big-box {
    width: 400px;
    height: 400px;
}

.big-box:hover .keyframe-element-2 {
    animation-name: animatie2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animatie2 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(300px, 0);
    }
    50% {
        transform: translate(300px, 300px);
    }
    75% {
        transform: translate(0, 300px);
    }
    100% {
        transform: translate(0, 0);
    }
}

